/*
#styleguide
Base styles

```
<p>General body style</p>
```
*/
body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: $font-smoothing;
  font-smoothing: $font-smoothing;
  text-rendering: $text-rendering;
  font-size: $root-font-size;
  font-family: $base-font-family;
  color: $base-font-color;
  background-color: $base-background-color;
  min-width: 320px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  letter-spacing: $default-letter-spacing;
  overflow-x: hidden;
}

// text-highlighing for all elements
h1, h2, h3, h4, h5, h6, p, a, dt, dd, time, span, i, code, pre, div, article, section, header, footer, body, li {
  &::selection {
  }
}

h1, h2, h3, h4, h5, h6, p, a, dt, dd {
  font-weight: inherit;
}

ul, ol {
  list-style: none;
}

a {
  word-break: break-all;

  &, &:link, &:visited {
    color: inherit;
    text-decoration: none;
  }
}

img, iframe, video, audio {
  max-width: 100%;
}

img {
  height: auto;
}

address, i {
  font-style: normal;
}

small {
  font-size: inherit;
}
