<% this.ejsRoot = '../'; const ejsRoot = this.ejsRoot; %>
    </div>
    <div class="page__footer">
      <%- include(ejsRoot + 'components/site-footer/_site-footer', data.pageSettings.footer ); %>
    </div>
  </div>
  <script src="<%= data.root %>assets/js/app.js" async="async"></script>
</body></html>
