.idea/
__mocks__
coverage/
docs/index.html
docs/sprite.octicons.svg
docs/app.js
docs/app.js.LICENSE.txt
docs/style.css
lib/**/*.ts
!lib/**/*.d.ts
src/
tests/
.editorconfig
.eslintrc.js
.gitignore
.prettierrc.json
.travis.yml
bs-config.js
tsconfig.json
tsconfig.eslint.json
tsconfig.json
webpack.config.js
webpack.config.iframe.js
