@mixin slideshow($num, $fade, $visible) {
  $a: 100 / (($fade + $visible) * $num);

  @keyframes fade#{$num}#{$fade}#{$visible} {
    0% {
      opacity: 0;
      transform: scale(1.1, 1.1)
    }
    #{percentage(($a * $fade)/100)} {
      opacity: 1;
      transform: scale(1, 1);
    }
    #{percentage(($a * ($fade + $visible)/100))} {
      opacity: 1;
      transform: scale(1, 1);
    }
    #{percentage(($a * ($fade + $visible + $fade)/100))} {
      opacity: 0;
      transform: scale(1.1, 1.1);
    }
    100% {
      opacity: 0;
      transform: scale(1.1, 1.1);
    }
  }

  animation-name: fade#{$num}#{$fade}#{$visible};
  animation-iteration-count: infinite;
  animation-duration: (($fade + $visible + 0s) * $num);

  @for $i from 1 through $num {
    &:nth-child(#{$i}) {
      animation-delay: (#{($fade + $visible + 0s) * ($i - 1)});
    }
  }
}
