<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>tstest</title>
</head>
<body>

<div id="qiita-user"></div>
<ul id="qiita-article"></ul>

<template id="qiita-user-tpl">
  <p class="qiita-user__id js-id"></p>
  <p class="qiita-user__likes">
    <span class="qiita=user__like-num js-likes-count"></span>
    <span class="qiita-user__like-unit">LIKE</span>
  </p>
  <p class="qiita-user__items">
    <span class="qiita=user__item-num js-items-count"></span>
  </p>
</template>

<template id="qiita-article-tpl">
  <li class="qiita-article">
    <a class="qiita-article__link js-url" target="_blank">

      <p class="qiita-article__likes">
        <span class="qiita-article__num js-likes-count"></span>
        <span class="qiita-article__unit">LIKE</span>
      </p>
      <h3 class="qiita-article__title js-title"></h3>
      <ul class="qiita-article__tags js-tags"></ul>
    </a>
  </li>
</template>

<script src="./assets/js/app.js"></script>
</body>
</html>
