<%
// icon/_icon-preview.ejs
// A preview HTML of "icon"
  this.name = 'icon'; const name = this.name;
  this.ejsRoot = '../../'; const ejsRoot = this.ejsRoot;
  if (typeof util === 'undefined') { include(ejsRoot + 'util/_util'); util = getUtil(); }
  if (typeof data === 'undefined') { include(ejsRoot + 'data/_data'); data = getData(); }
%><%
[
  'arrow-l',
  'arrow-r',
  'arrow-d',
  'arrow-middle-u',
  'arrow-long-r',
  'cal',
  'external',
  'file'
].forEach((icon) => { %>
<p><%= icon %>:</p>
<%- include(ejsRoot + 'components/icon/_icon', {data:data, icon:icon, modifier:icon }); %>
<% }); %>
