@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic"),
       local("Yu Gothic Medium");
  font-weight: normal;
}

@font-face {
  font-family: "Yu Gothic";
  src: local("Yu Gothic Bold");
  font-weight: bold;
}
