// Basic Margin
$base-margin: 20px;

// Break-points
$break-point-sp-max: 719px;  // max-width of SP layout
$break-point-tb-min: 720px;  // min-width of PC layout
$break-point-tb-max: 1119px; // min-width of PC layout
$break-point-pc-min: 1120px; // min-width of PC layout
$break-point-pc-max: 1200px; // max content width
